.scroll-container {
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: grab;
  touch-action: pan-x; /* Enable horizontal touch scrolling */
}

.scroll-content {
  /* height: 100%; */
  display: inline-flex;
  align-items: center;
  will-change: transform;
}

.scroll-container:active {
  cursor: grabbing;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
